{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "max-classes-per-file": "off",       
        "semi": "error",
        "no-console": "warn",
        "no-plusplus": "off",
        "no-unused-vars": ["error", { "vars": "local" }],
        "eol-last": "off",
        "max-len": ["error", 180, {
            "ignoreUrls": true
        }],
        "no-trailing-spaces": "off",
        "no-param-reassign": "off",
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "never"
        }]
    }
}